@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: #18181b;
  scroll-padding-top: 100px;
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}


.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100vh;
  overflow-y: auto;
}

.snap-section-content {
  min-height: 100%;
}
}

@layer components {
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #8b5cf6; /* purple-500 */
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  input[type="checkbox"]:checked {
    background-color: #8b5cf6; /* purple-500 */
    border-color: #8b5cf6;
  }

  input[type="checkbox"]:checked::before {
    content: "✓";
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }

  input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.3); /* purple-500 with opacity */
  }
}
/* Add to your CSS */
.slick-slide > div {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -15px;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev {
  left: -10px;
}

.slick-next {
  right: -10px;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  color: #A855F7;
  opacity: 0.75;
}

.slick-dots li button:before {
  color: #A855F7;
}

.slick-dots li.slick-active button:before {
  color: #A855F7;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-scroll {
  animation: scroll 20s linear infinite;
}

.logo-scroll:hover {
  animation-play-state: paused;
}