@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  background-color: #18181b;
  scroll-padding-top: 100px;
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
.snap-y {
  scroll-snap-type: y mandatory;
}

.snap-start {
  scroll-snap-align: start;
}


.snap-section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100vh;
  overflow-y: auto;
}

.snap-section-content {
  min-height: 100%;
}
}

@layer components {
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #8b5cf6; /* purple-500 */
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }

  input[type="checkbox"]:checked {
    background-color: #8b5cf6; /* purple-500 */
    border-color: #8b5cf6;
  }

  input[type="checkbox"]:checked::before {
    content: "✓";
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }

  input[type="checkbox"]:focus {
    box-shadow: 0 0 0 2px rgba(139, 92, 246, 0.3); /* purple-500 with opacity */
  }
}

/* Add or update these styles in your CSS */
.slick-prev,
.slick-next {
  width: 48px;
  height: 48px;
  z-index: 10;
}

.slick-prev {
  left: -20px !important; /* Adjust this value to position the left arrow */
}

.slick-next {
  right: 10px !important; /* Adjust this value to position the right arrow */
}

.slick-prev:before,
.slick-next:before {
  color: #A855F7 !important;
  font-size: 48px !important;
}

/* Remove default arrow background and hover states */
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: transparent !important;
}

.slick-prev,
.slick-next:before {
  opacity: 1;
  color: #A855F7;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logo-scroll {
  animation: scroll 20s linear infinite;
}

.logo-scroll:hover {
  animation-play-state: paused;
}